 <% if @article.errors.any? %>
    <ul>
      <h2>The following errors prevented the article from being saved </h2>
        <%= @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
 <% end %>

<%= form_with model: @article do |f| %>
  <p> 
    <%= f.label :title %><br/> 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br/> 
    <%= f.text_area :description %> 
  </p>
  <p>

  <div class="form-group row">
      <%= f.label :category, class: "col-2 col-form-label text-light" %>
      <div class="col-10"> 
        <%= f.collection_select(:category_ids, Category.all, :id, :name,
        { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
      </div>
    </div>


    <%= f.submit %> 
  </p>
<% end %>
